@font-face {
  font-family: "iconfont"; /* Project id 4582429 */
  src: url('iconfont.woff2?t=1718171846008') format('woff2'),
       url('iconfont.woff?t=1718171846008') format('woff'),
       url('iconfont.ttf?t=1718171846008') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-set:before {
  content: "\e690";
}

.icon-crawler:before {
  content: "\e6c1";
}

.icon-search:before {
  content: "\e82e";
}

.icon-home:before {
  content: "\e6b8";
}

