@font-face {
  font-family: "iconfont"; /* Project id 4601905 */
  src: url('iconfont.woff2?t=1719481564239') format('woff2'),
       url('iconfont.woff?t=1719481564239') format('woff'),
       url('iconfont.ttf?t=1719481564239') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-fill:before {
  content: "\e7ab";
}

.icon-eyeclose-fill:before {
  content: "\e8ff";
}

