on:
  workflow_dispatch:
name: build and release
permissions:
  contents: write
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        host: [x64]
        target: [x64]
        node: [20]
      # matrix:
      #   os: [ubuntu-latest, windows-latest, macos-latest]
      #   host: [x64]
      #   target: [x64]
      #   node: [20]
      #   include:
      #     - os: windows-latest
      #       host: x86
      #       target: x86
      #       node: 20
      #     - os: macos-latest
      #       host: arm64
      #       target: arm64
      #       node: 20
    name: os=${{ matrix.os }}  host=${{ matrix.host }}, target=${{ matrix.target }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.host }}

      - name: add setuptools for python 3.12
        if: matrix.os != 'macos-m1'
        run: pip install setuptools

      - name: Install dependencies
        run: npm install --build-from-source

      - name: Build
        run: npm run build

      - name: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run release
